* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  text-align: center;
  margin: 1em;
}

h1 {
  position: relative;
  top: 100px;
}

.text {
  padding-top: 10px;
}

.conteiner {
  margin-bottom: 1em;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.cards {
  background-color: #e7a01c;
  border-radius: 20px;
  height: calc(33vh - 1.2em);
  width: calc(33.33vw - 1.7em);
}

.cards:hover {
  transition: 0.7s;
  box-shadow: 10px 5px 5px black;
}

.conteiner2 {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.cards2 {
  background-color: #e7a01c;
  border-radius: 20px;
  height: 272px;
  width: calc(33.33vw - 1.7em);
}

.cards2:hover {
  transition: 0.7s;
  box-shadow: 10px 5px 5px black;
}

.picture {
  position: relative;
  bottom: 50px;
  width: 140px;
  height: 80px;
  display: block;
  margin: 0 auto;
}