* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  text-align: center;
}

/* h1 {
  position: relative;
  top: 120px;
} */

/* .text {
  padding-top: 55px;
} */

.conteiner {}

.conteiner2 {}

.cards {
  margin: 0.5em;

  background-color: #e7a01c;
  border-radius: 20px;
}

.cards:hover {
  transition: 0.7s;
  box-shadow: 10px 5px 5px black;
}

.cards2 {
  background-color: #e7a01c;

  border-radius: 20px;
}

.cards2:hover {
  transition: 0.7s;
  box-shadow: 10px 5px 5px black;
}

.picture {
  width: 140px;
  height: 80px;
  display: block;
  margin: 0 auto;
}